snippet fs
	font-size: ${1};
snippet m
	margin: ${1};
snippet mt
	margin-top: ${1};
snippet mb
	margin-bottom: ${1};
snippet p
	padding: ${1};
snippet w
	width: ${1};
snippet ta
	text-align: ${1};
snippet fl
	float: left;
snippet fr
	float: right;
snippet pos
	position: ${1};
snippet t
	top: ${1};
snippet l
	left: ${1};
snippet r
	right: ${1};
snippet mq
	@media (${1}) {
		${2};
	}
snippet mqw
	@media (max-width: ${1}) {
		${2};
	}
