[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = http://github.com/msanders/snipmate.vim.git
[submodule "bundle/vim-indent-guides"]
	path = bundle/vim-indent-guides
	url = http://github.com/nathanaelkane/vim-indent-guides.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = http://github.com/scrooloose/nerdtree.git
[submodule "bundle/sparkup"]
	path = bundle/sparkup
	url = http://github.com/kogakure/vim-sparkup.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = http://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/vcscommand"]
	path = bundle/vcscommand
	url = git://repo.or.cz/vcscommand
[submodule "bundle/rails"]
	path = bundle/rails
	url = http://github.com/tpope/vim-rails.git
[submodule "bundle/other/plugin/javascriptlint"]
	path = bundle/other/plugin/javascriptlint
	url = http://github.com/joestelmach/javaScriptLint.vim.git
[submodule "bundle/yankring"]
	path = bundle/yankring
	url = http://github.com/chrismetcalf/vim-yankring.git
[submodule "bundle/fullscreen_win32"]
	path = bundle/fullscreen_win32
	url = http://github.com/vim-scripts/gvimfullscreen_win32.git
[submodule "bundle/vim-coffee-script"]
	path = bundle/vim-coffee-script
	url = http://github.com/kchmck/vim-coffee-script.git